<div li-block="Add to Cart (Sample)" {{ block.shopify_attributes }}>
                    
                    
                    <div class="product-header_form-block w-form">
                      {% form 'product', product, class: 'product-header_default-state' %}
<div class="product-header_add-to-cart-wrapper">
                          <div class="product-header_add-to-cart-wrapper">
                            <a href="#" li-element="add-to-cart" data-w-id="d69ce643-8047-c12b-11a9-8d42533fb4e6" class="button-4 white-28 brown w-inline-block" @click="addToCart($event, true)" :disabled="!addToCartButton">
                              <div class="icon-link-3 brown-2">
                                <div id="cta_text" class="checkout-btns">
                                  <div id="cta_text" class="button-text">Add Sample To Cart</div>
                                  <div class="icon-embed-xsmall"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="ikonik-w5of3i">
                                      <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-pgg0i"></path>
                                    </svg></div>
                                </div>
                              </div>
                            </a>
                            <div>
                              <a href="#" li-element="add-to-cart" data-w-id="a9555c09-60cb-0c83-d71e-0263dfe8e85c" class="button-4 white-28 green w-inline-block" @click="addToCart($event, true)" :disabled="!addToCartButton">
                                <div class="icon-link-3 brown-2">
                                  <div id="cta_text" class="checkout-btns">
                                    <div id="cta_text" class="button-text">Sample In Cart</div>
                                    <div><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" viewbox="0 0 16 16" app="ikonik" class="icon-embed-xsmall">
                                        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" app="ikonik"></path>
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" app="ikonik"></path>
                                      </svg></div>
                                  </div>
                                </div>
                              </a>
                              <div class="_0-5rem-spacer"></div>
                              <div class="div-block-766">
                                <div li-element="mini-cart-item-remove" class="div-block-755" :productprop="product" @click="$dispatch('setcartitem', { product: product.key, quantity: 0 })"><svg viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" sf-cart-item-remove="1" class="cart-item-remover">
                                    <path d="M14.7404 9L14.3942 18M9.60577 18L9.25962 9M19.2276 5.79057C19.5696 5.84221 19.9104 5.89747 20.25 5.95629M19.2276 5.79057L18.1598 19.6726C18.0696 20.8448 17.0921 21.75 15.9164 21.75H8.08357C6.90786 21.75 5.93037 20.8448 5.8402 19.6726L4.77235 5.79057M19.2276 5.79057C18.0812 5.61744 16.9215 5.48485 15.75 5.39432M3.75 5.95629C4.08957 5.89747 4.43037 5.84221 4.77235 5.79057M4.77235 5.79057C5.91878 5.61744 7.07849 5.48485 8.25 5.39432M15.75 5.39432V4.47819C15.75 3.29882 14.8393 2.31423 13.6606 2.27652C13.1092 2.25889 12.5556 2.25 12 2.25C11.4444 2.25 10.8908 2.25889 10.3394 2.27652C9.16065 2.31423 8.25 3.29882 8.25 4.47819V5.39432M15.75 5.39432C14.5126 5.2987 13.262 5.25 12 5.25C10.738 5.25 9.48744 5.2987 8.25 5.39432" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>
                                  <div class="text-size-tiny text-color-grey text-style-link">Remove</div>
                                </div>
                              </div>
                              <div class="_0-5rem-spacer"></div>
                            </div>
                          </div>
                          <template x-if="!selected_or_first_available_variant.available">
            <div li-js-if="!selected_or_first_available_variant.available" class="product-header_out-of-stock">
        
                            <a href="#" class="cart is-secondary max-width-full pointer-events-off w-button">Not in Stock</a>
                                  </div>
    </template>
                        </div>
                      {% endform %}
                      <div class="hide w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="hide w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Add to Cart (Sample)",
    "settings": [],
    "presets": [
        {
            "name": "Add to Cart (Sample)",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}