<div li-block="Add to Cart">
                    
                    
                    <div class="product-header_form-block w-form">
                      {% form 'product', product, class: 'product-header_default-state' %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    
                          <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option" data-ProductVariantsLoop="true">
                            <div li-element="product-options-name" x-text="option">Variant</div>
                            <div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio w-radio">
                                <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button-2 w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'"><span li-element="product-option-name" class="text-size-regular text-weight-semibold w-form-label" for="radio-6" x-text="variantName" :for="variantName">XS</span>
                              </label></template></div>
                          </div></template>
                            </div>
{% endif %}
                        <div class="product-header_add-to-cart-wrapper">
                          <div class="product-header_add-to-cart-wrapper">
                            <div class="label-3">Quantity</div>
                            <template x-if="selected_or_first_available_variant.available">
            <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper-2">
        
                              <div class="product-container_quantity-changers">
                                <a x-on:click="quantity--" href="#" class="quantity-decreaser-4">-</a><input li-element="add-to-cart-quantity" class="mini-cart_line-item_quantity-adjust-2 xl" value="1" x-model="quantity">
                                <a x-on:click="quantity++" href="#" class="quantity-increaser-4">+</a>
                              </div>
                              <a href="#" li-element="add-to-cart" data-w-id="2009c223-656c-2afe-535d-f4c7e28dd11a" class="button-4 white-28 brown w-inline-block" @click="addToCart($event, true)" :disabled="!addToCartButton">
                                <div class="icon-link-3 brown-2">
                                  <div id="cta_text" class="checkout-btns">
                                    <div id="cta_text" class="button-text">Add To Cart</div>
                                    <div class="html-embed-10 w-embed"><svg width="100%" height="100%" viewbox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                          <g id="Ecommerce-Icons" transform="translate(-68.000000, -2394.000000)" fill="CurrentColor">
                                            <g id="Primary-Lock-Black-Copy" transform="translate(68.000000, 2394.000000)">
                                              <path d="M2.894495,44.10574 L44.10574,44.10574 L44.10574,19.434265 L2.894495,19.434265 L2.894495,44.10574 Z M13.920695,12.473565 C13.920695,7.191705 18.217905,2.89426 23.5,2.89426 C28.782095,2.89426 33.079305,7.191705 33.079305,12.473565 L33.079305,16.539535 L13.920695,16.539535 L13.920695,12.473565 Z M45.55287,16.539535 L35.973565,16.539535 L35.973565,12.473565 C35.973565,5.595585 30.378215,0 23.5,0 C16.621785,0 11.026435,5.595585 11.026435,12.473565 L11.026435,16.539535 L1.44713,16.539535 C0.647895,16.539535 0,17.187665 0,17.9869 L0,45.55287 C0,46.352105 0.647895,47 1.44713,47 L45.55287,47 C46.352105,47 47,46.352105 47,45.55287 L47,17.9869 C47,17.187665 46.352105,16.539535 45.55287,16.539535 L45.55287,16.539535 Z" id="Fill-1"></path>
                                              <path d="M26.911401,28.2895115 C26.911401,26.3864815 25.368626,24.8439415 23.465596,24.8439415 C21.562331,24.8439415 20.019791,26.3864815 20.019791,28.2895115 C20.019791,29.4074065 20.554416,30.3979315 21.379266,31.0274965 L21.374331,31.0274965 L20.019791,38.6266915 L26.911401,38.6266915 L25.556861,31.0274965 L25.551691,31.0274965 C26.376776,30.3979315 26.911401,29.4074065 26.911401,28.2895115" id="Fill-3"></path>
                                            </g>
                                          </g>
                                        </g>
                                      </svg></div>
                                  </div>
                                </div>
                              </a>
                                    </div>
    </template>
                          </div>
                          <template x-if="!selected_or_first_available_variant.available">
            <div li-js-if="!selected_or_first_available_variant.available" class="product-header_out-of-stock">
        
                            <a href="#" class="cart is-secondary max-width-full pointer-events-off w-button">Not in Stock</a>
                                  </div>
    </template>
                        </div>
                      {% endform %}
                      <div class="hide w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="hide w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Add to Cart",
    "settings": [],
    "presets": [
        {
            "name": "Add to Cart"
        }
    ]
} {% endschema %}