{% when 'button-group' %}
            <div li-block="Button Group" class="content-block">
                    
                            
                    <div li-content-for-theme-blocks="" class="button-group-13">
{% content_for 'blocks' %}
</div>
                    
                          
                </div> {% schema %} {
    "name": "Button Group",
    "blocks": [
        {
            "type": "button-primary"
        },
        {
            "type": "button-secondary"
        },
        {
            "type": "button-inverted"
        },
        {
            "type": "button-secondary-w"
        },
        {
            "type": "button-icon"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "Button Group"
        }
    ]
} {% endschema %}