<div li-block="Button Secondary W" class="button-block-3">
                    
                                
                    <div data-animation="stagger" class="animation-wrap">
                                  <a href="{{ block.settings.url_button_link }}" class="button-30 is-white-outline w-button"> {{ block.settings.text_button_text }} </a>
                                </div>
                    
                              
                </div> {% schema %} {
    "name": "Button Secondary W",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Button Text"
        }
    ],
    "presets": [
        {
            "name": "Button Secondary W"
        }
    ]
} {% endschema %}