<div li-block="Button" class="content_block">
                    
                        
                    <a href="{{ block.settings.url_button_link }}" data-wf--button-main--variant="base" data-w-id="62fe5b66-eb79-581e-644e-970322077823" class="button-main w-inline-block button-style {{ block.settings.button-style }}"> <div class="icon-link-3"> <div class="clip-2 white-10"> <div class="hover-text white-31"> <div class="text-size-small-11 white-34">{{ block.settings.text_button_text }}</div> </div> <div class="hover-text white-31 bottom white-20"> <div class="text-size-small-11 white-34">{{ block.settings.text_button_text }}</div> </div> </div> <div class="icons-wrapper"> {% if block.settings.icons == 'arrow' %} <div li-if="block.settings.icons == 'arrow'" class="icon-link_circle arrow"> <div class="clip-2 white-10 arrow-20"> <div class="hover-arrow-3 arrow-21"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="icon-1x1-small-7 arrow-9"> <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor" app="ikonik" class="path-c1mxz arrow-10"></path> </svg></div> <div class="hover-arrow-3 arrow-21 left-arrow arrow-23"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="icon-1x1-small-7 arrow-9"> <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor" app="ikonik" class="path-c1mxz arrow-10"></path> </svg></div> </div> </div>{% endif %} {% if block.settings.icons == 'chevron' %} <div li-if="block.settings.icons == 'chevron'" class="icon-link_circle chevron"> <div class="clip-2 white-10 arrow-20"> <div class="hover-arrow-3 arrow-21"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="icon-1x1-small-7 arrow-9 xs arrow-24"> <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-mjcxy arrow-18"></path> </svg></div> <div class="hover-arrow-3 arrow-21 left-arrow arrow-23"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="icon-1x1-small-7 arrow-9 xs arrow-24"> <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-mjcxy arrow-18"></path> </svg></div> </div> </div>{% endif %} {% if block.settings.icons == 'external' %} <div li-if="block.settings.icons == 'external'" class="icon-link_circle external"> <div class="clip-2 white-10 arrow-20"> <div class="hover-arrow-3 arrow-21"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="icon-1x1-small-7 arrow-9 xs arrow-24"> <line x1="10" y1="14" x2="21" y2="3" app="ikonik"></line> <polyline points="15 3 21 3 21 9" app="ikonik"></polyline> <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" app="ikonik"></path> </svg></div> <div class="hover-arrow-3 arrow-21 left-arrow arrow-23"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="icon-1x1-small-7 arrow-9 xs arrow-24"> <line x1="10" y1="14" x2="21" y2="3" app="ikonik"></line> <polyline points="15 3 21 3 21 9" app="ikonik"></polyline> <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" app="ikonik"></path> </svg></div> </div> </div>{% endif %} </div> </div> </a>
                    
                      
                </div> {% schema %} {
    "name": "Button",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Learn More"
        },
        {
            "type": "header",
            "content": "Button Style"
        },
        {
            "type": "select",
            "id": "button-style",
            "label": "Button Style",
            "default": "",
            "options": [
                {
                    "label": "Outline",
                    "value": ""
                },
                {
                    "label": "White",
                    "value": "w-variant-40d42f51-beaf-80a4-8697-83623596810b"
                },
                {
                    "label": "Brown",
                    "value": "w-variant-2fefbeae-31c5-f762-65ea-fe5ecac51e2f"
                },
                {
                    "label": "Link",
                    "value": "w-variant-a1ac5c22-036a-8f87-8fa5-ff3e57e53bac"
                },
                {
                    "label": "Link White",
                    "value": "w-variant-c7f83e63-3671-0dfd-4ebb-3bb7602e78af"
                }
            ]
        },
        {
            "type": "header",
            "content": "icons"
        },
        {
            "type": "select",
            "id": "icons",
            "label": "Icons",
            "default": "none",
            "options": [
                {
                    "label": "None",
                    "value": "none"
                },
                {
                    "label": "Arrow",
                    "value": "arrow"
                },
                {
                    "label": "Chevron",
                    "value": "chevron"
                },
                {
                    "label": "External",
                    "value": "external"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Button"
        }
    ]
} {% endschema %}