<div li-block="Content">
                    
                  
                    <div class="rich-text-block w-richtext"> {{ block.settings.richtext_content_text }} </div>
                    
                
                </div> {% schema %} {
    "name": "Content",
    "settings": [
        {
            "id": "richtext_content_text",
            "type": "richtext",
            "label": "Content Text",
            "default": "<p>\n                    As the world\u2019s most trusted leather supplier for aviation and rail, we bring unparalleled expertise in crafting durable, high-quality leather seat covers. \n                    Most manufacturers today are optimised for fabric and synthetic materials. \n                    \u200d\n                    However, leather requires specialised processes to achieve the highest standards in production, performance, lead times and cost efficiency. \n                   <\/p>"
        }
    ],
    "presets": [
        {
            "name": "Content"
        }
    ]
} {% endschema %}