<div li-block="Downloads">
                    
                    
                    <div class="product-header_description">
                      <div li-content-for-block="" class="div-block-761">
                        <div li-block="Specification">
                    
                          
                    <a href="{{ block.settings.url_link }}" target="_blank" class="pdf-button w-inline-block"> <img loading="lazy" src="{{ 'download-2.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5"> <div class="text-features-cta">{{ block.settings.text_text }}</div> </a>
                    
                        
                </div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Downloads",
    "settings": [],
    "presets": [
        {
            "name": "Downloads"
        }
    ]
} {% endschema %}