<div li-block="Heading">
                    
                    
                    <h2>
{{ block.settings.text_heading }}
</h2>
                    
                  
                </div> {% schema %} {
    "name": "Heading",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Muirhead Seat Cover Service"
        }
    ],
    "presets": [
        {
            "name": "Heading"
        }
    ]
} {% endschema %}