{% when 'heading' %}
            <div li-block="Heading">
                    
                      
                    <p class="hero-heading">
{{ block.settings.text_heading }}
</p>
                    
                    
                </div> {% schema %} {
    "name": "Heading",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Leather"
        }
    ],
    "presets": [
        {
            "name": "Heading"
        }
    ]
} {% endschema %}