<div li-block="Heading">
                    
                    
                    <h1 class="heading-style-h1" style="color: {{ section.settings.text-color }} !important;">
{{ block.settings.text_heading }}
</h1>
                    
                  
                </div> {% schema %} {
    "name": "Heading",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Lowest Carbon Leather"
        }
    ],
    "presets": [
        {
            "name": "Heading"
        }
    ]
} {% endschema %}