<div li-block="Image">
                    {% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: class: 'image-large', sizes: '100vw', loading: 'lazy' }}
{% else %}
<img class="image-large" src="{{ 'muirhead_sector_aviation_02.webp' | asset_url }}" alt="" sizes="100vw" loading="lazy" srcset="{{ 'muirhead_sector_aviation_02-p-500.webp' | asset_url }} 500w, {{ 'muirhead_sector_aviation_02.webp' | asset_url }} 638w">
{% endif %}
                </div> {% schema %} {
    "name": "Image",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Image"
        }
    ]
} {% endschema %}