<div li-block="Low Carbon Leather">
                    
                    
                    <div class="div-block-736"><img loading="eager" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0bf6_low-carbon-leather-logo.avif" alt="" class="icon-large">
                      <div class="div-block-746">
                        <p class="text-size-tiny-2">We have the lowest carbon leather in the world. <br>
                          <a href="#" class="link-underline">Find out more</a>
                        </p>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Low Carbon Leather",
    "settings": [],
    "presets": [
        {
            "name": "Low Carbon Leather"
        }
    ]
} {% endschema %}