<div li-block="Payment Icons">
                    
                    
                    <div class="pb-booster cc-blank">
                      <div class="booster__wrapper cc-0">
                        <div class="booster__content cc-center gap-xs"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7386b7a95c9ed85de8d_visa.8d7f514b.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df08_mastercard.3afe1dc7.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df1d_amex.96fe8a50.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7386b7a95c9ed85decf_paypal.9f345195.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df3d_discover.f0950dd5.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df39_google-pay.7028b8c9.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df28_apple-pay.730a4379.svg" alt="" class="pb-component__icon _w-8"></div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Payment Icons",
    "settings": [],
    "presets": [
        {
            "name": "Payment Icons"
        }
    ]
} {% endschema %}