<div li-block="Pre Heading">
                    
                  
                    <div>
{{ block.settings.text_pre_heading }}
</div>
                    
                
                </div> {% schema %} {
    "name": "Pre Heading",
    "settings": [
        {
            "id": "text_pre_heading",
            "type": "text",
            "label": "Pre Heading",
            "default": "Muirhead Seat Cover Service:"
        }
    ],
    "presets": [
        {
            "name": "Pre Heading"
        }
    ]
} {% endschema %}