<div li-block="Safety Specs">
                    
                    
                    <a href="{{ block.settings.url_link }}" target="_blank" class="pdf-button w-inline-block"> <img loading="lazy" src="{{ 'download-2.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5"> <div class="text-features-cta">{{ block.settings.text_text }}</div> </a>
                    
                  
                </div> {% schema %} {
    "name": "Safety Specs",
    "settings": [
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "Safety Specs"
        }
    ],
    "presets": [
        {
            "name": "Safety Specs"
        }
    ]
} {% endschema %}