<div li-block="Spacer">
                    
                        
                    <div class="_1rem-spacer"></div>
                    
                      
                </div> {% schema %} {
    "name": "Spacer",
    "settings": [],
    "presets": [
        {
            "name": "Spacer"
        }
    ]
} {% endschema %}