<div li-block="Stars" class="content-block">
                    
                    
                    <div data-animation="stagger" class="animation-wrap">
                      <div class="stars-block">
                        <div class="stars-row">
                          <div class="heading-star w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 10 9" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M4.67938 0.477543C4.82849 0.123371 5.33635 0.123371 5.48547 0.477544L6.36553 2.56794C6.42843 2.71725 6.57057 2.81927 6.73372 2.83219L9.01807 3.01311C9.40511 3.04377 9.56204 3.52093 9.26716 3.77048L7.52674 5.24332C7.40244 5.34854 7.34811 5.51362 7.3861 5.67089L7.91783 7.87311C8.00791 8.24621 7.59706 8.54115 7.26569 8.34122L5.30996 7.16106C5.17026 7.07676 4.99458 7.07676 4.85489 7.16106L2.89914 8.34122C2.56778 8.54115 2.15691 8.24621 2.247 7.87311L2.77874 5.67089C2.81672 5.51362 2.76243 5.34854 2.63812 5.24332L0.897662 3.77048C0.602779 3.52093 0.759719 3.04377 1.14676 3.01311L3.43113 2.83219C3.5943 2.81927 3.73643 2.71725 3.7993 2.56794L4.67938 0.477543Z" fill="currentColor"></path>
                            </svg></div>
                          <div class="heading-star w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 10 9" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M4.67938 0.477543C4.82849 0.123371 5.33635 0.123371 5.48547 0.477544L6.36553 2.56794C6.42843 2.71725 6.57057 2.81927 6.73372 2.83219L9.01807 3.01311C9.40511 3.04377 9.56204 3.52093 9.26716 3.77048L7.52674 5.24332C7.40244 5.34854 7.34811 5.51362 7.3861 5.67089L7.91783 7.87311C8.00791 8.24621 7.59706 8.54115 7.26569 8.34122L5.30996 7.16106C5.17026 7.07676 4.99458 7.07676 4.85489 7.16106L2.89914 8.34122C2.56778 8.54115 2.15691 8.24621 2.247 7.87311L2.77874 5.67089C2.81672 5.51362 2.76243 5.34854 2.63812 5.24332L0.897662 3.77048C0.602779 3.52093 0.759719 3.04377 1.14676 3.01311L3.43113 2.83219C3.5943 2.81927 3.73643 2.71725 3.7993 2.56794L4.67938 0.477543Z" fill="currentColor"></path>
                            </svg></div>
                          <div class="heading-star w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 10 9" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M4.67938 0.477543C4.82849 0.123371 5.33635 0.123371 5.48547 0.477544L6.36553 2.56794C6.42843 2.71725 6.57057 2.81927 6.73372 2.83219L9.01807 3.01311C9.40511 3.04377 9.56204 3.52093 9.26716 3.77048L7.52674 5.24332C7.40244 5.34854 7.34811 5.51362 7.3861 5.67089L7.91783 7.87311C8.00791 8.24621 7.59706 8.54115 7.26569 8.34122L5.30996 7.16106C5.17026 7.07676 4.99458 7.07676 4.85489 7.16106L2.89914 8.34122C2.56778 8.54115 2.15691 8.24621 2.247 7.87311L2.77874 5.67089C2.81672 5.51362 2.76243 5.34854 2.63812 5.24332L0.897662 3.77048C0.602779 3.52093 0.759719 3.04377 1.14676 3.01311L3.43113 2.83219C3.5943 2.81927 3.73643 2.71725 3.7993 2.56794L4.67938 0.477543Z" fill="currentColor"></path>
                            </svg></div>
                          <div class="heading-star w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 10 9" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M4.67938 0.477543C4.82849 0.123371 5.33635 0.123371 5.48547 0.477544L6.36553 2.56794C6.42843 2.71725 6.57057 2.81927 6.73372 2.83219L9.01807 3.01311C9.40511 3.04377 9.56204 3.52093 9.26716 3.77048L7.52674 5.24332C7.40244 5.34854 7.34811 5.51362 7.3861 5.67089L7.91783 7.87311C8.00791 8.24621 7.59706 8.54115 7.26569 8.34122L5.30996 7.16106C5.17026 7.07676 4.99458 7.07676 4.85489 7.16106L2.89914 8.34122C2.56778 8.54115 2.15691 8.24621 2.247 7.87311L2.77874 5.67089C2.81672 5.51362 2.76243 5.34854 2.63812 5.24332L0.897662 3.77048C0.602779 3.52093 0.759719 3.04377 1.14676 3.01311L3.43113 2.83219C3.5943 2.81927 3.73643 2.71725 3.7993 2.56794L4.67938 0.477543Z" fill="currentColor"></path>
                            </svg></div>
                          <div class="heading-star w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 10 9" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M4.67938 0.477543C4.82849 0.123371 5.33635 0.123371 5.48547 0.477544L6.36553 2.56794C6.42843 2.71725 6.57057 2.81927 6.73372 2.83219L9.01807 3.01311C9.40511 3.04377 9.56204 3.52093 9.26716 3.77048L7.52674 5.24332C7.40244 5.34854 7.34811 5.51362 7.3861 5.67089L7.91783 7.87311C8.00791 8.24621 7.59706 8.54115 7.26569 8.34122L5.30996 7.16106C5.17026 7.07676 4.99458 7.07676 4.85489 7.16106L2.89914 8.34122C2.56778 8.54115 2.15691 8.24621 2.247 7.87311L2.77874 5.67089C2.81672 5.51362 2.76243 5.34854 2.63812 5.24332L0.897662 3.77048C0.602779 3.52093 0.759719 3.04377 1.14676 3.01311L3.43113 2.83219C3.5943 2.81927 3.73643 2.71725 3.7993 2.56794L4.67938 0.477543Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                        <div class="stars-text">
{{ block.settings.text_stars_text }}
</div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Stars",
    "settings": [
        {
            "id": "text_stars_text",
            "type": "text",
            "label": "Stars Text",
            "default": "100.000+ zufriedene Kunden"
        }
    ],
    "presets": [
        {
            "name": "Stars"
        }
    ]
} {% endschema %}