<div li-block="Title" data-wf--title--variant="base" class="div-block-765">
                    
                        
                    <p class="hero-heading text_color {{ block.settings.color }} {{ block.settings.text_color }}">
{{ block.settings.text_heading }}
</p>
                    
                        
                    
                    
                      
                </div> {% schema %} {
    "name": "Title",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "More Than Leather."
        },
        {
            "type": "header",
            "content": "color"
        }
    ],
    "presets": [
        {
            "name": "Title"
        }
    ]
} {% endschema %}