<div li-block="Title" data-wf--title--variant="base" class="div-block-765 text_color {{ block.settings.color }} {{ block.settings.text_color }}">
                    
                        
                    <p class="hero-heading">
{{ block.settings.text_heading }}
</p>
                    
                        
                    
                    
                      
                </div> {% schema %} {
    "name": "Title",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "More Than Leather."
        },
        {
            "type": "header",
            "content": "color"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Colour",
            "default": "",
            "options": [
                {
                    "label": "White",
                    "value": ""
                },
                {
                    "label": "Brown",
                    "value": "w-variant-b50964fd-34e3-c8f9-16c6-e9d4df096f8f"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Title"
        }
    ]
} {% endschema %}