<div li-block="Title">
                    
                        
                    <p class="hero-heading">
{{ block.settings.text_heading }}
</p>
                    
                      
                </div> {% schema %} {
    "name": "Title",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Leather"
        }
    ],
    "presets": [
        {
            "name": "Title"
        }
    ]
} {% endschema %}