<!doctype html>
---
f_featured: false
f_machine-type: Boom Lift
f_horizontal-reach-2: 9.48
f_fuel-type: Diesel
f_working-height-hidden: 17.81
f_working-height-feet: 58
f_lift-capacity-meters: 230
title: 51ft JLG 510AJ DIESEL KNUCKLE BOOM
f_machine-image:
  url: >-
    /assets/external/67d2e05700ca6e4758f3ee8f_6685f3601ae5d836b481868f_jlg-510aj-diesel-knuckle-boom.jpeg
  alt: null
f_fuel-type-v2: cms/fuel-type/diesel.md
f_brand-manufacturers: cms/brands/jlg.md
slug: jlg-510aj-diesel-knuckle-boom
updated-on: '2025-11-21T10:59:48.912Z'
created-on: '2025-03-13T13:42:52.201Z'
published-on: '2025-11-21T10:59:48.912Z'
f_platform-height-feet: 51
f_platform-height-meters: 15.81
f_spec-sheet:
  url: /assets/external/67d6889383c0ed0c6c73fde3_510aj_articulating_boom_au.pdf
  alt: null
f_risk-assessment-pdf:
  url: >-
    /assets/external/68cbeccbce63864d53fdd434_45ft20jlg20450aj20diesel20knuckle20boom.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: 60%; text-align: left;
  padding-left: 10px; } .datalist td[colspan="2"] { text-align: left; padding:
  6px 12px; border-bottom: none; width: 100%; } .datalist tr:first-child {
  display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0" data-sort="sortDisabled"> <tbody> <tr class="firstRow"> <td>Technical
  Specification</td> <td></td> </tr> <tr class="data-row"> <td data-label="Make">Make</td> <td>JLG</td> </tr> <tr class="data-row"> <td data-label="Model">Model</td> <td>510AJ</td> </tr> <tr class="data-row"> <td data-label="Height">Height</td> <td>2.30 m</td> </tr> <tr class="data-row">
  <td data-label="Width">Width</td> <td>2.34 m</td> </tr> <tr class="data-row">
  <td data-label="Length">Length</td> <td>7.68 m</td> </tr> <tr class="data-row"> <td data-label="Weight">Weight</td> <td>7650 kg</td> </tr>
  <tr class="data-row"> <td data-label="Ground Clearance">Ground Clearance</td>
  <td>0.29 m</td> </tr> <tr class="data-row"> <td data-label="Max Platform
  Height">Max Platform Height</td> <td>15.81 m</td> </tr> <tr class="data-row">
  <td data-label="Maximum Horizontal Reach">Maximum Horizontal Reach</td>
  <td>9.48 m</td> </tr> <tr class="data-row"> <td data-label="Platform
  Capacity">Platform Capacity</td> <td>230 kg</td> </tr> <tr class="data-row">
  <td data-label="Up and Over Height">Up and Over Height</td> <td>7.67 m</td>
  </tr> <tr class="data-row"> <td data-label="Wheelbase">Wheelbase</td> <td>2.34
  m</td> </tr> <tr class="data-row"> <td data-label="Working Height">Working
  Height</td> <td>17.81 m</td> </tr> <tr class="data-row"> <td data-label="Working Outreach">Working Outreach</td> <td>7.47 m</td> </tr>
  </tbody>

  </table>
layout: '[machines].html'
tags: machines
---