<!doctype html>
---
f_featured: false
f_machine-type: Boom Lift
f_horizontal-reach-2: 13.23
f_fuel-type: Electric
f_working-height-hidden: 20.29
f_working-height-feet: 66
f_lift-capacity-meters: 230
title: 60ft JLG M600JP ELECTRIC STRAIGHT BOOM
slug: jlg-m600jp-electric-straight-boom
f_machine-image:
  url: >-
    /assets/external/67d2e0581261e59d266ab240_6685f3601ae5d836b48186a5_jlg-m600jp-electric-straight-boom-768x768.jpeg
  alt: null
f_fuel-type-v2: cms/fuel-type/electric.md
f_brand-manufacturers: cms/brands/jlg.md
updated-on: '2025-11-21T09:54:24.506Z'
created-on: '2025-03-13T13:42:53.167Z'
published-on: '2025-11-21T09:56:43.885Z'
f_platform-height-feet: 60
f_platform-height-meters: 18.29
f_spec-sheet:
  url: /assets/external/67d6822e03120a2050e4f057_m600jp-boom-flyer.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: 60%; text-align: left;
  padding-left: 10px; } .datalist td[colspan="2"] { text-align: left; padding:
  6px 12px; border-bottom: none; width: 100%; } .datalist tr:first-child {
  display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0" data-sort="sortDisabled"> <tbody> <tr class="firstRow"> <td>Technical
  Specification</td> <td></td> </tr> <tr class="data-row"> <td data-label="Working Height">Working Height</td> <td>20.39 m</td> </tr> <tr class="data-row"> <td data-label="Working Outreach">Working Outreach</td>
  <td>14.19 m</td> </tr> <tr class="data-row"> <td data-label="Swing
  (non-continuous)">Swing (non-continuous)</td> <td>400°</td> </tr> <tr class="data-row"> <td data-label="Platform Capacity – Unrestricted">Platform
  Capacity – Unrestricted</td> <td>230 kg</td> </tr> <tr class="data-row"> <td data-label="Platform Rotator (Hydraulic)">Platform Rotator (Hydraulic)</td>
  <td>180°</td> </tr> <tr class="data-row"> <td data-label="Jib – Overall
  Length">Jib – Overall Length</td> <td>1.24 m</td> </tr> <tr class="data-row">
  <td data-label="Jib - Range of articulation">Jib - Range of articulation</td>
  <td>145° Vertical (+89°/ -56°)</td> </tr> <tr class="data-row"> <td data-label="Platform Size">Platform Size</td> <td>0.76 m x 1.83 m</td> </tr>
  <tr class="data-row"> <td data-label="Overall Width">Overall Width</td>
  <td>2.42 m</td> </tr> <tr class="data-row"> <td data-label="Tailswing (working
  condition)">Tailswing (working condition)</td> <td>1.23 m</td> </tr> <tr class="data-row"> <td data-label="Stowed Height">Stowed Height</td> <td>2.54
  m</td> </tr> <tr class="data-row"> <td data-label="Stowed Length">Stowed
  Length</td> <td>10.15 m</td> </tr> <tr class="data-row"> <td data-label="Wheelbase">Wheelbase</td> <td>2.74 m</td> </tr> <tr class="data-row"> <td data-label="Ground Clearance">Ground Clearance</td>
  <td>0.30 m</td> </tr> <tr class="data-row"> <td data-label="Maximum Ground
  Bearing Pressure">Maximum Ground Bearing Pressure</td> <td>3.9 kg/cm2</td>
  </tr> <tr class="data-row"> <td data-label="Machine weight">Machine
  weight</td> <td>8,015 kg</td> </tr> <tr class="data-row"> <td data-label="Drive Speed">Drive Speed</td> <td>4.8 km/h</td> </tr> <tr class="data-row"> <td data-label="Gradeability">Gradeability</td> <td>30%</td>
  </tr> <tr class="data-row"> <td data-label="Axle Oscillation">Axle
  Oscillation</td> <td>0.20 m</td> </tr> <tr class="data-row"> <td data-label="Turning Radius – Inside">Turning Radius – Inside</td> <td>1.22
  m</td> </tr> <tr class="data-row"> <td data-label="Turning Radius –
  Outside">Turning Radius – Outside</td> <td>4.64 m</td> </tr> </tbody>

  </table>
layout: '[machines].html'
tags: machines
---