<!doctype html>
---
f_featured: true
f_machine-type: Boom Lift
f_horizontal-reach-2: 12.12
f_fuel-type: Diesel
f_working-height-hidden: 20.29
f_working-height-feet: 66
f_lift-capacity-meters: 230
title: 60ft JLG 600AJ DIESEL KNUCKLE BOOM
f_machine-image:
  url: >-
    /assets/external/67d2e05741115e0114901252_6685f3601ae5d836b48186bb_jlg-600aj-diesel-knuckle-boom.webp
  alt: null
f_fuel-type-v2: cms/fuel-type/diesel.md
slug: jlg-600aj-diesel-knuckle-boom
f_brand-manufacturers: cms/brands/jlg.md
updated-on: '2025-11-21T10:59:48.835Z'
created-on: '2025-03-13T13:42:52.219Z'
published-on: '2025-11-21T10:59:48.835Z'
f_platform-height-feet: 60
f_platform-height-meters: 18.29
f_spec-sheet:
  url: /assets/external/67d68605f702afbd97e9b8f3_600aj-articulating-boom-au.pdf
  alt: null
f_risk-assessment-pdf:
  url: >-
    /assets/external/68cbed3aabbb06e67968efad_60ft20jlg20600aj20diesel20knuckle20boom20.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: 60%; text-align: left;
  padding-left: 10px; } .datalist td[colspan="2"] { text-align: left; padding:
  6px 12px; border-bottom: none; width: 100%; } .datalist tr:first-child {
  display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0" data-sort="sortDisabled"> <tbody> <tr class="firstRow"> <td>Technical
  Specification</td> <td></td> </tr> <tr class="data-row"> <td data-label="Reach
  Height">Reach Height</td> <td>20.46m</td> </tr> <tr class="data-row"> <td data-label="Horizontal Reach">Horizontal Reach</td> <td>14.00m</td> </tr> <tr class="data-row"> <td data-label="Closed Length">Closed Length</td>
  <td>8.82m</td> </tr> <tr class="data-row"> <td data-label="Width">Width</td>
  <td>2.49m</td> </tr> <tr class="data-row"> <td data-label="Cage
  Dimensions">Cage Dimensions</td> <td>0.80 x 1.80m</td> </tr> <tr class="data-row"> <td data-label="Rotation">Rotation</td> <td>360°</td> </tr>
  <tr class="data-row"> <td data-label="Power">Power</td> <td>Diesel</td> </tr>
  <tr class="data-row"> <td data-label="Platform Height">Platform Height</td>
  <td>18.46m</td> </tr> <tr class="data-row"> <td data-label="IPAF
  Category">IPAF Category</td> <td>3b</td> </tr> <tr class="data-row"> <td data-label="Closed Height">Closed Height</td> <td>2.57m</td> </tr> <tr class="data-row"> <td data-label="Weight">Weight</td> <td>12260kg</td> </tr>
  <tr class="data-row"> <td data-label="Lifting Capacity">Lifting Capacity</td>
  <td>230kg</td> </tr> <tr class="data-row"> <td data-label="Turning
  Radius">Turning Radius</td> <td>3.90m</td> </tr> </tbody>

  </table>
layout: '[machines].html'
tags: machines
---