<!doctype html>
---
f_featured: false
f_machine-type: Boom Lift
f_horizontal-reach-2: 15.8
f_fuel-type: Diesel
f_working-height-hidden: 26.38
f_working-height-feet: 86
f_lift-capacity-meters: 230
title: 80ft JLG 800AJ DIESEL KNUCKLE BOOM
f_machine-image:
  url: >-
    /assets/external/67d2e057f97f02b77225eef6_6685f3601ae5d836b481869b_jlg-800aj-diesel-knuckle-boom.jpeg
  alt: null
f_fuel-type-v2: cms/fuel-type/diesel.md
f_brand-manufacturers: cms/brands/jlg.md
slug: jlg-800aj-diesel-knuckle-boom
updated-on: '2025-11-21T10:59:48.817Z'
created-on: '2025-03-13T13:42:52.441Z'
published-on: '2025-11-21T10:59:48.817Z'
f_platform-height-feet: 80
f_platform-height-meters: 24.38
f_spec-sheet:
  url: /assets/external/67d68557bedede17797d96a5_800-series-spec-sheet.pdf
  alt: null
f_risk-assessment-pdf:
  url: >-
    /assets/external/68cbed844ae3330570206246_80ft20jlg20800aj20diesel20knuckle20boom.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: 100%; /* Changed from 60%
  to 100% for full width */ text-align: left; padding-left: 10px; } .datalist
  td[colspan="2"] { text-align: left; padding: 6px 12px; border-bottom: none;
  width: 100%; } .datalist tr:first-child { display: none; }

  }

  </style>

  <table class="datalist" width="100%" cellspacing="0" cellpadding="0" data-sort="sortDisabled"> <tbody> <tr class="firstRow"> <td>Technical
  Specification</td> <td></td> </tr> <tr class="data-row"> <td data-label="Capacity - Fuel Tank">Capacity - Fuel Tank</td>
  <td>151L/39.9gal</td> </tr> <tr class="data-row"> <td data-label="Axle
  Oscillation">Axle Oscillation</td> <td>0.2m/8in</td> </tr> <tr class="data-row"> <td data-label="Drive Speed - 2WD">Drive Speed - 2WD</td>
  <td>4.80km/h/3mph</td> </tr> <tr class="data-row"> <td data-label="Drive Speed
  - 4WD">Drive Speed - 4WD</td> <td>4.80km/h/3mph</td> </tr> <tr class="data-row"> <td data-label="Gradability - 2WD">Gradability - 2WD</td>
  <td>0.3</td> </tr> <tr class="data-row"> <td data-label="Gradability -
  4WD">Gradability - 4WD</td> <td>0.45</td> </tr> <tr class="data-row"> <td data-label="Platform Capacity - Unrestricted">Platform Capacity -
  Unrestricted</td> <td>230kg/507.1lb</td> </tr> <tr class="data-row"> <td data-label="Swing">Swing</td> <td>360 Degrees</td> </tr> <tr class="data-row">
  <td data-label="Swing Type">Swing Type</td> <td>Continuous</td> </tr> <tr class="data-row"> <td data-label="Turning Radius - Outside (2WS)">Turning
  Radius - Outside (2WS)</td> <td>6.86m/22.5ft</td> </tr> <tr class="data-row">
  <td data-label="Turning Radius - Outside (4WS)">Turning Radius - Outside
  (4WS)</td> <td>4.42m/14.5ft</td> </tr> <tr class="data-row"> <td data-label="Jib - Range of articulation">Jib - Range of articulation</td>
  <td>130 Degrees</td> </tr> <tr class="data-row"> <td data-label="Ground
  Clearance">Ground Clearance</td> <td>0.28m/11in</td> </tr> <tr class="data-row"> <td data-label="Machine Height">Machine Height</td>
  <td>3m/9.8ft</td> </tr> <tr class="data-row"> <td data-label="Machine
  Length">Machine Length</td> <td>11.12m/36.5ft</td> </tr> <tr class="data-row">
  <td data-label="Machine Width">Machine Width</td> <td>2.49m/8.2ft</td> </tr>
  <tr class="data-row"> <td data-label="Platform Dimension A">Platform Dimension
  A</td> <td>0.91m/3ft</td> </tr> <tr class="data-row"> <td data-label="Platform
  Dimension B">Platform Dimension B</td> <td>2.44m/8ft</td> </tr> <tr class="data-row"> <td data-label="Platform Height">Platform Height</td>
  <td>24.46m/80.2ft</td> </tr> <tr class="data-row"> <td data-label="Tailswing">Tailswing</td> <td>0.76m/2ft 6in</td> </tr> <tr class="data-row"> <td data-label="Tyre size">Tyre size</td> <td>18-625 Foam
  Filled</td> </tr> <tr class="data-row"> <td data-label="Working
  Height">Working Height</td> <td>26.38m/86.5ft</td> </tr> <tr class="data-row">
  <td data-label="Working Outreach">Working Outreach</td> <td>16.45m/54ft</td>
  </tr> <tr class="data-row"> <td data-label="Horizontal Jib
  Rotation">Horizontal Jib Rotation</td> <td>0 Degrees</td> </tr> <tr class="data-row"> <td data-label="Horizontal Outreach">Horizontal
  Outreach</td> <td>15.74m/51.6ft</td> </tr> <tr class="data-row"> <td data-label="Platform Height">Platform Height</td> <td>24.46m/80.2ft</td> </tr>
  <tr class="data-row"> <td data-label="Up and Over Height">Up and Over
  Height</td> <td>9.78m/32.1ft</td> </tr> <tr class="data-row"> <td data-label="Capacity - Hydraulic Reservoir">Capacity - Hydraulic
  Reservoir</td> <td>261L/68.9gal</td> </tr> <tr class="data-row"> <td data-label="Maximum Ground Bearing Pressure">Maximum Ground Bearing
  Pressure</td> <td>5.40Kg/cm2</td> </tr> <tr class="data-row"> <td data-label="Machine Weight (CE & GOST)">Machine Weight (CE & GOST)</td>
  <td>15600kg/34392.1lb</td> </tr> </tbody>

  </table>
layout: '[machines].html'
tags: machines
---