<!doctype html>
---
f_featured: false
f_machine-type: Boom Lift
f_horizontal-reach-2: 7.62
f_fuel-type: Diesel
f_working-height-hidden: 15.72
f_working-height-feet: 51
f_lift-capacity-meters: 250
title: 45ft JLG 450AJ DIESEL KNUCKLE BOOM
slug: jlg-450aj-diesel-knuckle-boom
f_fuel-type-v2: cms/fuel-type/diesel.md
f_brand-manufacturers: cms/brands/jlg.md
f_machine-image:
  url: >-
    /assets/external/67d2e0579464d5acfa7c29b3_6685f3601ae5d836b481869c_jlg-450aj-diesel-knuckle-boom.jpeg
  alt: null
updated-on: '2025-11-21T09:54:32.583Z'
created-on: '2025-03-13T13:42:53.106Z'
published-on: '2025-11-21T09:56:43.885Z'
f_platform-height-feet: 45
f_platform-height-meters: 13.72
f_spec-sheet:
  url: /assets/external/67d68319748485a56d9bdc68_450ajsii_articulating_boom-au.pdf
  alt: null
f_risk-assessment-pdf:
  url: >-
    /assets/external/68cbeccbce63864d53fdd434_45ft20jlg20450aj20diesel20knuckle20boom.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: 60%; text-align: left;
  padding-left: 10px; } .datalist td[colspan="2"] { text-align: left; padding:
  6px 12px; border-bottom: none; width: 100%; } .datalist tr:first-child {
  display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0" data-sort="sortDisabled"> <tbody> <tr class="firstRow"> <td>Technical
  Specification</td> <td></td> </tr> <tr class="data-row"> <td data-label="Power
  Type">Power Type</td> <td>Diesel</td> </tr> <tr class="data-row"> <td data-label="Extended Max Height">Extended Max Height</td> <td>45.01ft</td>
  </tr> <tr class="data-row"> <td data-label="Working Height">Working
  Height</td> <td>51.57ft</td> </tr> <tr class="data-row"> <td data-label="Platform Length">Platform Length</td> <td>2.49ft</td> </tr> <tr class="data-row"> <td data-label="Platform Length Extended">Platform Length
  Extended</td> <td>2.49ft</td> </tr> <tr class="data-row"> <td data-label="Platform Width">Platform Width</td> <td>6ft</td> </tr> <tr class="data-row"> <td data-label="Outreach">Outreach</td> <td>25ft</td> </tr>
  <tr class="data-row"> <td data-label="Up & Over Height">Up & Over Height</td>
  <td>23.95ft</td> </tr> <tr class="data-row"> <td data-label="Swing">Swing</td>
  <td>355°</td> </tr> <tr class="data-row"> <td data-label="Machine
  Length">Machine Length</td> <td>21.56ft</td> </tr> <tr class="data-row"> <td data-label="Machine Width">Machine Width</td> <td>7.71ft</td> </tr> <tr class="data-row"> <td data-label="Stowed Height">Stowed Height</td>
  <td>7.45ft</td> </tr> <tr class="data-row"> <td data-label="Stowed Height
  Rails Down">Stowed Height Rails Down</td> <td>7.45ft</td> </tr> <tr class="data-row"> <td data-label="Max Load Capacity">Max Load Capacity</td>
  <td>250kg</td> </tr> <tr class="data-row"> <td data-label="Weight">Weight</td>
  <td>6418kg</td> </tr> <tr class="data-row"> <td data-label="Wheelbase">Wheelbase</td> <td>7.71ft</td> </tr> <tr class="data-row"> <td data-label="Gradeability">Gradeability</td> <td>45%</td>
  </tr> <tr class="data-row"> <td data-label="Environment">Environment</td>
  <td>Outdoor</td> </tr> <tr class="data-row"> <td data-label="Surface
  Outdoor">Surface Outdoor</td> <td>Even & Rough</td> </tr> <tr class="data-row"> <td data-label="Tyres">Tyres</td> <td>Rough Terrain</td>
  </tr> <tr class="data-row"> <td data-label="Maximum Ground Bearing
  Pressure">Maximum Ground Bearing Pressure</td> <td>4.57 kg/cm2</td> </tr>
  </tbody>

  </table>
layout: '[machines].html'
tags: machines
---