<!doctype html>
---
f_featured: true
f_machine-type: Boom Lift
f_fuel-type: Diesel
f_working-height-hidden: 12.75
f_working-height-feet: 41
f_lift-capacity-meters: 270
title: 35ft LGMG AR11J(AR35J) Articulated-Boom Lift
f_machine-image:
  url: >-
    /assets/external/67d2e0582cc8806a482e9f2d_66976f48daed8ed6cd5cf223_7dadfcdccec84de7b2c710b86bca568d.webp
  alt: null
f_gallery-images:
  - url: >-
      /assets/external/67d2e058771acb0a1494dd6d_67934c4a1cb9d0d09527d885_7dadfcdccec84de7b2c710b86bca568d.jpeg
    alt: null
  - url: >-
      /assets/external/67d2e0582cc8806a482e9f2a_6793503baf76dce347ee53f7_35a83f138e214a02aa3c56a98199e193.jpeg
    alt: null
f_fuel-type-v2: cms/fuel-type/engine.md
f_brand-manufacturers: cms/brands/lgmg.md
slug: lgmg-ar11j-ar35j-articulated-boom-lift
updated-on: '2025-11-21T09:53:21.144Z'
created-on: '2025-03-13T13:42:53.927Z'
published-on: '2025-11-21T09:56:43.885Z'
f_platform-height-feet: 35
f_platform-height-meters: 10.75
f_spec-sheet:
  url: >-
    /assets/external/67d6809bb8bfe229f10d6083_41ft20lgmg20ar11jar35j20articulated-boom20lift.pdf
  alt: null
f_risk-assessment-pdf:
  url: /assets/external/68a4145dc327d6db8d903c3f_ar11j20risk20assessment.pdf
  alt: null
f_horizontal-reach-2: 6.78
f_horizontal-reach-ft: 22
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist tr.section-header { background-color: #478bcc; color: white;
  font-weight: bold;

  }

  .datalist tr.section-header td { border-bottom: none; border-top: none;

  }

  .datalist td[colspan="3"], .datalist td[colspan="2"] { text-align: center;

  }

  .datalist tr.section-header:hover { background-color: #478bcc;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist
  td[data-label="Value"]:before { content: none; } .datalist td[colspan="3"],
  .datalist td[colspan="2"] { text-align: left; padding: 6px 12px;
  border-bottom: none; } .datalist tr.section-header { display: block;
  background-color: #478bcc; color: white; font-weight: bold; margin-bottom: 0;
  } .datalist tr:first-child { display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0" data-sort="sortDisabled"> <tbody> <tr class="firstRow"> <td>MODELS</td> <td align="center">AR11J</td> <td align="center">AR35J</td> </tr> <tr class="section-header"> <td>Measurements</td> <td align="center">Metric</td>
  <td align="center">Imperial</td> </tr> <tr class="data-row"> <td data-label="Work Height Max.">Work Height Max.</td> <td align="center" data-label="AR11J">12.75m</td> <td align="center" data-label="AR35J">41'10''</td> </tr> <tr class="data-row"> <td data-label="Platform Height Max.">Platform Height Max.</td> <td align="center" data-label="AR11J">10.75m</td> <td align="center" data-label="AR35J">35'3''</td> </tr> <tr class="data-row"> <td data-label="Horizontal Outreach">Horizontal Outreach</td> <td align="center" data-label="AR11J">6.78m</td> <td align="center" data-label="AR35J">22'3''</td> </tr> <tr class="data-row"> <td data-label="Up
  and Over Height">Up and Over Height</td> <td align="center" data-label="AR11J">5.32m</td> <td align="center" data-label="AR35J">17'5''</td> </tr> <tr class="data-row"> <td data-label="Platform Length">Platform Length</td> <td align="center" data-label="AR11J">1.42m</td> <td align="center" data-label="AR35J">4'8''</td>
  </tr> <tr class="data-row"> <td data-label="Platform Width">Platform
  Width</td> <td align="center" data-label="AR11J">0.76m</td> <td align="center" data-label="AR35J">2'6''</td> </tr> <tr class="data-row"> <td data-label="Stowed Length">Stowed Length</td> <td align="center" data-label="AR11J">5.77m</td> <td align="center" data-label="AR35J">18'11''</td> </tr> <tr class="data-row"> <td data-label="Length-Transport (jib tucked)">Length-Transport (jib tucked)</td>
  <td align="center" data-label="AR11J">4.46m</td> <td align="center" data-label="AR35J">14'8''</td> </tr> <tr class="data-row"> <td data-label="Overall Width">Overall Width</td> <td align="center" data-label="AR11J">1.85m</td> <td align="center" data-label="AR35J">6'1''</td>
  </tr> <tr class="data-row"> <td data-label="Stowed Height">Stowed Height</td>
  <td align="center" data-label="AR11J">2.06m</td> <td align="center" data-label="AR35J">6'9''</td> </tr> <tr class="data-row"> <td data-label="Height-Transport">Height-Transport</td> <td align="center" data-label="AR11J">2.29m</td> <td align="center" data-label="AR35J">7'6''</td>
  </tr> <tr class="data-row"> <td data-label="Wheelbase">Wheelbase</td> <td align="center" data-label="AR11J">1.88m</td> <td align="center" data-label="AR35J">6'2''</td> </tr> <tr class="data-row"> <td data-label="Ground Clearance">Ground Clearance</td> <td align="center" data-label="AR11J">0.19m</td> <td align="center" data-label="AR35J">7'</td>
  </tr> <tr class="section-header"> <td colspan="3">PRODUCTIVITY</td> </tr> <tr class="data-row"> <td data-label="Max. Platform Occupancy">Max. Platform
  Occupancy</td> <td colspan="2" data-label="Value">2</td> </tr> <tr class="data-row"> <td data-label="Platform Capacity">Platform Capacity</td>
  <td align="center" data-label="AR11J">270kg</td> <td align="center" data-label="AR35J">595 lbs</td> </tr> <tr class="data-row"> <td data-label="Turntable Rotation">Turntable Rotation</td> <td colspan="2" data-label="Value">355°</td> </tr> <tr class="data-row"> <td data-label="Drive
  Speed-Stowed">Drive Speed-Stowed</td> <td align="center" data-label="AR11J">5km/h</td> <td align="center" data-label="AR35J">3.1mph</td> </tr> <tr class="data-row"> <td data-label="Drive Speed-Raised">Drive Speed-Raised</td> <td align="center" data-label="AR11J">0.8km/h</td> <td align="center" data-label="AR35J">0.5mph</td> </tr> <tr class="data-row"> <td data-label="Gradeability">Gradeability</td> <td colspan="2" data-label="Value">45%</td> </tr> <tr class="data-row"> <td data-label="Max.
  Wind Speed">Max. Wind Speed</td> <td align="center" data-label="AR11J">12.5m/s</td> <td align="center" data-label="AR35J">28mph</td> </tr> <tr class="data-row"> <td data-label="Turning Radius-Inside">Turning Radius-Inside</td> <td align="center" data-label="AR11J">2.6m</td> <td align="center" data-label="AR35J">8'6''</td> </tr> <tr class="data-row"> <td data-label="Turning Radius-Outside">Turning Radius-Outside</td> <td align="center" data-label="AR11J">4.7m</td> <td align="center" data-label="AR35J">15'5''</td> </tr> <tr class="data-row"> <td data-label="Max.Slope">Max.Slope</td> <td colspan="2" data-label="Value">3°/4.5°</td> </tr> <tr class="data-row"> <td data-label="Tires Type">Tires Type</td> <td colspan="2" data-label="Value">Foam-filled non-marking</td> </tr> <tr class="data-row">
  <td data-label="Tires Models">Tires Models</td> <td colspan="2" data-label="Value">10-16.5</td> </tr> <tr class="data-row"> <td data-label="Ground Pressure, Tyres">Ground Pressure, Tyres</td> <td align="center" data-label="AR11J">289 kPa</td> <td align="center" data-label="AR35J">41.9 psi</td> </tr> <tr class="section-header"> <td colspan="3">POWER</td> </tr> <tr class="data-row"> <td data-label="Power
  Source">Power Source</td> <td colspan="2" data-label="Value">Kubota D1105
  18.2kW/24.4hp</td> </tr> <tr class="data-row"> <td data-label="Fuel Tank
  Capacity">Fuel Tank Capacity</td> <td align="center" data-label="AR11J">45L</td> <td align="center" data-label="AR35J">11.9gal</td>
  </tr> <tr class="section-header"> <td colspan="3">HYDRAULIC SYSTEM</td> </tr>
  <tr class="data-row"> <td data-label="Hydraulic Oil Volume">Hydraulic Oil
  Volume</td> <td align="center" data-label="AR11J">58L</td> <td align="center" data-label="AR35J">15.3gal</td> </tr> <tr class="section-header"> <td colspan="3">WEIGHT</td> </tr> <tr class="data-row"> <td data-label="Machine
  Weight">Machine Weight</td> <td align="center" data-label="AR11J">5,400kg</td>
  <td align="center" data-label="AR35J">11,905 lbs</td> </tr> </tbody>

  </table>
layout: '[machines].html'
tags: machines
---

**LGMG AR Series articulating boom lifts are purpose built for outdoor construction and industrial applications. Simple and reliable design with industrial features make this machine easy to operate. A standard jib offers the ability to reach even the most hard to reach places.**

‍

*   270kg large platform capacity design maximises productivity.
*   Motion squawker, dual pole battery and starter iso-lators as standard.
*   Powerful axle-integrated four-wheel drive system.
*   Full-time floating axle significantly improves rough terrain capability and ground clearance.
*   Advanced proportional electronic control system for easy diagnostics as well as accurate positioning and smooth operation.