<!doctype html>
---
f_featured: true
f_machine-type: Boom Lift
f_platform-size-width-meters: 0.76
f_platform-size-depth-meters: 1.83
f_horizontal-reach-2: 7.54
f_fuel-type: Diesel
f_working-height-hidden: 15.93
f_working-height-feet: 52
f_lift-capacity-meters: 227
title: 46ft Skyjack SJ46 AJ Articulating Boom Lift
f_machine-image:
  url: /assets/external/67d2e05b6693e05a961905d1_6685f3601ae5d836b48186cd_sj46.webp
  alt: null
f_fuel-type-v2: cms/fuel-type/diesel.md
f_brand-manufacturers: cms/brands/skyjack.md
slug: skyjack-sj46-aj-articulating-boom-lift
updated-on: '2025-11-21T09:51:59.980Z'
created-on: '2025-03-13T13:42:55.997Z'
published-on: '2025-11-21T09:56:43.885Z'
f_platform-height-feet: 46
f_platform-height-meters: 14.1
f_spec-sheet:
  url: /assets/external/67d678cec5c4b283a4200119_skyjack20sj46_aj.pdf
  alt: null
f_risk-assessment-pdf:
  url: /assets/external/68a40a04a9257ae5e18a7b4e_skyjack2046aj.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: auto; text-align: left;
  padding-left: 10px; max-width: calc(100% - 60px); } .datalist td[colspan="2"]
  { text-align: left; padding: 6px 12px; border-bottom: none; width: 100%; }
  .datalist tr:first-child { display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0">
  <tbody> <tr class="firstRow"> <td>Technical Specification</td> <td></td> </tr>
  <tr class="data-row"> <td data-label="Work Height">Work Height</td> <td>16.10
  m</td> </tr> <tr class="data-row"> <td data-label="Platform Height">Platform
  Height</td> <td>14.10 m</td> </tr> <tr class="data-row"> <td data-label="Up
  and Over Height">Up and Over Height</td> <td>7.45 m</td> </tr> <tr class="data-row"> <td data-label="Platform Size">Platform Size</td> <td>1.83 x
  0.76 m</td> </tr> <tr class="data-row"> <td data-label="Stowed Width">Stowed
  Width</td> <td>2.29 m</td> </tr> <tr class="data-row"> <td data-label="Tailswing">Tailswing</td> <td>Zero</td> </tr> <tr class="data-row"> <td data-label="Stowed Height">Stowed Height</td> <td>2.07
  m</td> </tr> <tr class="data-row"> <td data-label="Transportation
  Height">Transportation Height</td> <td>2.16 m</td> </tr> <tr class="data-row">
  <td data-label="Stowed Length">Stowed Length</td> <td>6.35 m</td> </tr> <tr class="data-row"> <td data-label="Transportation Length">Transportation
  Length</td> <td>5.97 m</td> </tr> <tr class="data-row"> <td data-label="Ground
  Clearance">Ground Clearance</td> <td>0.39 m</td> </tr> <tr class="data-row">
  <td data-label="Wheelbase">Wheelbase</td> <td>2.03 m</td> </tr> <tr class="data-row"> <td data-label="Rotation">Rotation</td> <td>355째 NC</td>
  </tr> <tr class="data-row"> <td data-label="Platform Rotation">Platform
  Rotation</td> <td>170째</td> </tr> <tr class="data-row"> <td data-label="Jib
  Length">Jib Length</td> <td>1.40 m</td> </tr> <tr class="data-row"> <td data-label="Jib Range +/-">Jib Range +/-</td> <td>+70째 / -75째</td> </tr> <tr class="data-row"> <td data-label="Weight">Weight</td> <td>6,500 kg</td> </tr>
  <tr class="data-row"> <td data-label="Gradeability">Gradeability</td>
  <td>45%</td> </tr> <tr class="data-row"> <td data-label="Turning Radius
  (Inside)">Turning Radius (Inside)</td> <td>2.49 m</td> </tr> <tr class="data-row"> <td data-label="Turning Radius (Outside)">Turning Radius
  (Outside)</td> <td>4.34 m</td> </tr> <tr class="data-row"> <td data-label="Axle Oscillation">Axle Oscillation</td> <td>12.70 cm</td> </tr>
  <tr class="data-row"> <td data-label="Drive Speed (Stowed)">Drive Speed
  (Stowed)</td> <td>4.0 km/h</td> </tr> <tr class="data-row"> <td data-label="Capacity">Capacity</td> <td>227 kg</td> </tr> <tr class="data-row"> <td data-label="Horizontal Reach">Horizontal Reach</td>
  <td>7.54 m</td> </tr> <tr class="data-row"> <td data-label="Maximum # of
  Persons">Maximum # of Persons</td> <td>2</td> </tr> <tr class="data-row"> <td data-label="Tire Type">Tire Type</td> <td>Solid</td> </tr> <tr class="data-row"> <td data-label="Tire Size">Tire Size</td> <td>10 x 31</td>
  </tr> <tr class="data-row"> <td data-label="Diesel Engine">Diesel Engine</td>
  <td>18.5 kw (24.8 HP)</td> </tr> <tr class="data-row"> <td data-label="Fuel
  Tank">Fuel Tank</td> <td>64 L</td> </tr> <tr class="data-row"> <td data-label="Hydraulic Reservoir">Hydraulic Reservoir</td> <td>91 L</td> </tr>
  </tbody>

  </table>
layout: '[machines].html'
tags: machines
---