<!doctype html>
---
f_featured: false
f_machine-type: Boom Lift
f_platform-size-width-meters: 0.76
f_platform-size-depth-meters: 1.17
f_horizontal-reach-2: 6.26
f_fuel-type: Electric
f_working-height-hidden: 10.9
f_working-height-feet: 35
f_lift-capacity-meters: 226
title: 30ft Skyjack SJ30 Electric Boom Lift
f_machine-image:
  url: /assets/external/67d2e05ac174a30ac3bb34f8_6685f3601ae5d836b48186c0_sj30.jpeg
  alt: null
f_fuel-type-v2: cms/fuel-type/electric.md
f_brand-manufacturers: cms/brands/skyjack.md
slug: skyjack-sj30arje-electric-boom-lift
updated-on: '2025-11-21T09:52:12.047Z'
created-on: '2025-03-13T13:42:55.592Z'
published-on: '2025-11-21T09:56:43.885Z'
f_platform-height-feet: 30
f_platform-height-meters: 9.07
f_spec-sheet:
  url: /assets/external/67d67a44ddabe333623888a5_na_ansi_sj30.pdf
  alt: null
f_horizontal-reach-ft: 20.7
f_risk-assessment-pdf:
  url: >-
    /assets/external/68df7866284fffbda74dba54_skyjack20sj3020risk20assessment.pdf
  alt: null
f_risk-assessment-table: ''
f_spec-table-v2: >-
  <style>

  .datalist tr:first-child td { background-color: #211d41; color: white;
  font-weight: bold; font-size: 17px;

  }

  .datalist td[colspan="2"] { text-align: center;

  }

  @media (max-width: 768px) { .datalist td:not(:first-child):before { content:
  attr(data-label); position: absolute; left: 10px; width: calc(60% - 20px);
  white-space: normal; word-wrap: break-word; overflow-wrap: break-word;
  font-weight: bold; text-align: left; font-size: 12px; } .datalist td {
  display: block; text-align: right; position: relative; padding: 6px 12px 6px
  60%; border: none; border-bottom: 1px solid #e4e4ed; width: 100%; } .datalist
  td:first-child { text-align: left; padding: 6px 12px; font-weight: bold;
  display: inline-block; width: 100%; /* Full width on mobile */ } .datalist
  td:not(:first-child) { display: inline-block; width: auto; /* Allow full width
  */ text-align: left; padding-left: 10px; max-width: calc(100% - 60px); /*
  Limits to available space after label padding */ } .datalist td[colspan="2"] {
  text-align: left; padding: 6px 12px; border-bottom: none; width: 100%; }
  .datalist tr:first-child { display: none; }

  }

  </style> <table class="datalist" width="100%" cellspacing="0" cellpadding="0">
  <tbody> <tr class="firstRow"> <td>Technical Specification</td> <td></td> </tr>
  <tr class="data-row"> <td data-label="Work Height">Work Height</td> <td>35' 6"
  (10.82 m)</td> </tr> <tr class="data-row"> <td data-label="Platform
  Height">Platform Height</td> <td>29' 6" (9.00 m)</td> </tr> <tr class="data-row"> <td data-label="Up and Over Height">Up and Over Height</td>
  <td>13' 1" (3.99 m)</td> </tr> <tr class="data-row"> <td data-label="Platform
  Size">Platform Size</td> <td>30" x 46" (0.76 m x 1.17 m)</td> </tr> <tr class="data-row"> <td data-label="Stowed Width">Stowed Width</td> <td>3' 11"
  (1.19 m)</td> </tr> <tr class="data-row"> <td data-label="Tailswing">Tailswing</td> <td>0</td> </tr> <tr class="data-row">
  <td data-label="Stowed Height">Stowed Height</td> <td>6' 6" (1.98 m)</td>
  </tr> <tr class="data-row"> <td data-label="Transportation
  Height">Transportation Height</td> <td>8' 2" (2.50 m)</td> </tr> <tr class="data-row"> <td data-label="Stowed Length">Stowed Length</td> <td>18' 1"
  (5.51 m)</td> </tr> <tr class="data-row"> <td data-label="Transportation
  Length">Transportation Length</td> <td>3.80 m</td> </tr> <tr class="data-row">
  <td data-label="Ground Clearance">Ground Clearance</td> <td>4" (10.16 cm)</td>
  </tr> <tr class="data-row"> <td data-label="Wheelbase">Wheelbase</td> <td>5'
  5" (1.65 m)</td> </tr> <tr class="data-row"> <td data-label="Rotation">Rotation</td> <td>355° NC</td> </tr> <tr class="data-row"> <td data-label="Platform Rotation">Platform Rotation</td>
  <td>180°</td> </tr> <tr class="data-row"> <td data-label="Jib Length">Jib
  Length</td> <td>4' 1” (1.25 m)</td> </tr> <tr class="data-row"> <td data-label="Jib Range +/-">Jib Range +/-</td> <td>142° (+77°/-65°)</td> </tr>
  <tr class="data-row"> <td data-label="Weight">Weight</td> <td>12,320 lbs
  (5,588 kg)</td> </tr> <tr class="data-row"> <td data-label="Gradeability">Gradeability</td> <td>35% (Counterweight Facing
  Up)</td> </tr> <tr class="data-row"> <td data-label="Turning Radius
  (Inside)">Turning Radius (Inside)</td> <td>5' (1.52 m)</td> </tr> <tr class="data-row"> <td data-label="Turning Radius (Outside)">Turning Radius
  (Outside)</td> <td>10' 7” (3.23 m)</td> </tr> <tr class="data-row"> <td data-label="Drive Speed (Stowed)">Drive Speed (Stowed)</td> <td>3.0 mph (4.8
  km/h)</td> </tr> <tr class="data-row"> <td data-label="Drive Speed
  (Raised)">Drive Speed (Raised)</td> <td>0.4 mph (0.64 km/h)</td> </tr> <tr class="data-row"> <td data-label="Capacity">Capacity</td> <td>500 lbs (227
  kg)</td> </tr> <tr class="data-row"> <td data-label="Horizontal
  Reach">Horizontal Reach</td> <td>20' 7" (6.26 m)</td> </tr> <tr class="data-row"> <td data-label="Local Floor Load (With Rated Load)">Local
  Floor Load (With Rated Load)</td> <td>218 psi (15.33 kg/sq cm)</td> </tr> <tr class="data-row"> <td data-label="Overall Floor Load (With Rated
  Load)">Overall Floor Load (With Rated Load)</td> <td>451 psf (2,202.59 kg/sq
  m)</td> </tr> <tr class="data-row"> <td data-label="Maximum # of
  Persons">Maximum # of Persons</td> <td>2/1 (indoors/outdoors)</td> </tr> <tr class="data-row"> <td data-label="Wind Rating">Wind Rating</td> <td>28 mph
  (12.5 m/s)</td> </tr> <tr class="data-row"> <td data-label="Tire Type">Tire
  Type</td> <td>Solid, N/M</td> </tr> <tr class="data-row"> <td data-label="Tire
  Size">Tire Size</td> <td>22 x 7 x 12</td> </tr> </tbody>

  </table>
layout: '[machines].html'
tags: machines
---