<div class="padding-global">
          <div class="container-large">
            <div class="card-component">
              <div id="w-node-_1e720e56-b391-dcf5-0597-3d7820336194-20336190" class="content-wrapper">
                <div>
                  <div class="text-size-medium">Muirhead Seat Cover Service:</div>
                </div>
                <div>
                  <h2 class="heading-style-h2">Muirhead Seat Cover Service</h2>
                </div>
                <div>
                  <div class="rich-text w-richtext">
                    <p>As the world’s most trusted leather supplier for aviation and rail, we bring unparalleled expertise in crafting durable, high-quality leather seat covers. Most manufacturers today are optimised for fabric and synthetic materials. </p>
                    <p>‍</p>
                    <p>However, leather requires specialised processes to achieve the highest standards in production, performance, lead times and cost efficiency. </p>
                    <p>‍</p>
                    <p><strong>And that’s just the beginning.</strong></p>
                  </div>
                </div>
                <div class="button-group"></div>
              </div><img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="card-image">
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Basic Image 1",
    "class": "section _2rem",
    "presets": [
        {
            "name": "Basic Image 1",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}