<div class="padding-global">
          <div class="container-large">
            <div class="card-component">
              <div li-content-for-theme-blocks="" id="w-node-f4be8dda-3ea8-bcca-7112-61c4ebc92441-029cc97b" class="content_wrapper">
{% content_for 'blocks' %}
</div>
              <div id="w-node-f4be8dda-3ea8-bcca-7112-61c4ebc92457-029cc97b" class="card_img-wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card_img' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'card_img' }} 
{% endif %}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Content Flexible V1",
    "class": "section _2rem",
    "blocks": [
        {
            "type": "pre-heading"
        },
        {
            "type": "heading"
        },
        {
            "type": "content"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Content Flexible V1",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "pre-heading"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "content"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}