<div class="padding-section-small">
          <div class="padding-global">
            <div class="container-medium">
              <div class="w-layout-grid contact-grid">
                <div class="contact-image-wrapper">
                  <div class="contact-image">
                    <div class="w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71570.56163836908!2d-4.691972931716348!3d55.904642075561966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888493a502dbb2d%3A0x6ac6cd1b81cfa367!2sScottish%20Leather%20Group%20Limited!5e0!3m2!1sen!2suk!4v1763237215249!5m2!1sen!2suk" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                  </div>
                  <div class="div-block-760">
                    <div class="text-size-regular"><strong>Muirhead</strong><br>Scottish Leather Group Ltd<br>Locher House, Kilbarchan Road<br>Bridge of Weir<br>PA11 3RN<br>Scotland<br></div>
                    <div class="_1rem-spacer"></div>
                    <a href="https://maps.app.goo.gl/WixVcGyV8TSPYMrR7" target="_blank" class="uui-button-secondary-gray-14 w-inline-block"><img loading="lazy" src="{{ 'icons8-google-maps.svg' | asset_url }}" alt="" class="google-logo">
                      <div class="contact-text">Google Maps</div><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="ikonik-5qjl2">
                        <line x1="10" y1="14" x2="21" y2="3" app="ikonik"></line>
                        <polyline points="15 3 21 3 21 9" app="ikonik"></polyline>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" app="ikonik"></path>
                      </svg>
                    </a>
                    <div class="_1rem-spacer"></div>
                    <div class="text-size-regular">Registered in Scotland No 042020<br></div>
                  </div>
                </div>
                <div class="contact-card-outline">
                  <div class="demo-form-block w-form">
                    <div class="demo-form-custom-css w-embed">
                      <style>
  .demo-input-field:focus + .demo-label,
  .demo-input-field:not(:placeholder-shown) + .demo-label {
    top: 0%;
    margin-left: 1rem;
    font-size: 1rem;
    color:#000000;
  }
</style>
                    </div>
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="demo-form" data-wf-page-id="68e22fae932bc475029cc988" data-wf-element-id="69f08340-5a5b-48ef-9614-71560c49fb21">
                      <div class="text-size-regular">Complete our form with a query, or find your closest representative below.</div>
                      <div class="demo-input-group"><input class="demo-input-field w-input" maxlength="256" name="Name" data-name="Name" placeholder=" " type="text" id="Name"><label for="name" class="demo-label">Name</label></div>
                      <div class="demo-input-group"><input class="demo-input-field w-input" maxlength="256" name="Email" data-name="Email" placeholder=" " type="email" id="Email"><label for="name-4" class="demo-label">Email</label></div>
                      <div class="demo-input-group"><input class="demo-input-field w-input" maxlength="256" name="Phone" data-name="Phone" placeholder=" " type="tel" id="Phone"><label for="name-4" class="demo-label">Phone</label></div>
                      <div class="demo-input-group"><input class="demo-input-field message w-input" maxlength="256" name="Message" data-name="Message" placeholder=" " type="tel" id="Message"><label for="name-4" class="demo-label top">Message</label></div>
                      <div class="form-button-wrapper"><input type="submit" data-wait="Please wait..." class="button-18 w-button" value="Submit"></div>
                    </form>
                    <div class="w-form-done">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                      <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Contact Section",
    "class": "section background-color-alternate",
    "presets": [
        {
            "name": "Contact Section",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}