<div class="contact-cta">
          <div class="home-action_descript">
            <div>
              <div class="text-h4 w-richtext">
                <p>Please contact our expert team for more information:</p>
              </div>
            </div>
            <div class="cta-buttons">
              <div>
                <a href="mailto:sales@muirhead.co.uk?subject=Website%20Enquiry" class="w-inline-block">
                  <p class="text-size-large">
{{ section.settings.text_text }}
</p>
                </a>
              </div>
              <div>
                <div class="brown-divider"></div>
              </div>
              <div>
                <a href="https://+44 (0)1505 801 904" class="w-inline-block">
                  <p class="text-size-large">
{{ section.settings.text_text }}
</p>
                </a>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Contact CTA",
    "class": "section",
    "settings": [
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "sales@muirhead.co.uk"
        }
    ],
    "presets": [
        {
            "name": "Contact CTA",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}