<div class="divider-wrap divider-wrap {{ section.settings.padding }}">
          <div class="grey-line"></div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Divider",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "select",
            "id": "padding",
            "label": "Padding",
            "default": "",
            "options": [
                {
                    "label": "0rem",
                    "value": ""
                },
                {
                    "label": "2rem",
                    "value": "w-variant-e3f42b5a-a512-7d55-82f6-febc8859c684"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Divider",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}