<div class="container-large">
          <div class="dots-left w-embed">
            <div style="width: 2px; height: 100vh; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
          </div>
          <div class="dots-right w-embed">
            <div style="width: 2px; height: 100vh; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Dotted Sides",
    "presets": [
        {
            "name": "Dotted Sides",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}