<div class="padding-global-10 padding-section-small">
  <div class="container-large-13">
    <div class="video_wrapper" style="aspect-ratio: 16 / 9">
      <div class="video_video">
        {% if section.settings.video %}
          <iframe width="100%" height="100%" 
            src="{% if section.settings.video.type == 'youtube' %}{{ section.settings.video.embed_url }}{% else %}{{ section.settings.video.embed_url }}{% endif %}" 
            frameborder="0" allowfullscreen>
          </iframe>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "Harry Embed",
  "class": "section_video",
  "settings": [
    {
      "type": "video_url",
      "id": "video",
      "label": "Video",
      "accept": ["youtube", "vimeo"]
    }
  ],
  "presets": [
    {
      "name": "Harry Embed",
      "category": "Liquify"
    }
  ]
}
{% endschema %}