<div class="padding-global-10 padding-section-small">
          <div class="container-large-13">
            <div class="video_wrapper" style="aspect-ratio: {{ section.settings.video.aspect_ratio }}">
              <div li-object="section.settings.video | external_video_tag" class="video_video">{{ section.settings.video | external_video_url | external_video_tag }}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Harry Embed",
    "class": "section_video",
    "settings": [
        {
            "type": "video_url",
            "id": "video",
            "label": "Video",
            "accept": [
                "youtube",
                "vimeo"
            ]
        }
    ],
    "presets": [
        {
            "name": "Harry Embed",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}