<div class="padding-global-11 padding-section-small">
          <div class="container-large-13">
            <div class="video_wrapper" style="aspect-ratio: {{ section.settings.video.aspect_ratio }}">
              <div li-object="section.settings.video | video_tag: width: '100%', height: '100%', controls: true, image_size: '1000x'" class="video_video">{{ section.settings.video | video_tag: width: '100%', height: '100%', controls: true, image_size: '1000x' }}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Harry SV",
    "class": "section_video",
    "settings": [
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        }
    ],
    "presets": [
        {
            "name": "Harry SV",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}