<div class="padding-global-10 padding-section-small">
  <div class="container-large-13">
    <div class="video_wrapper" style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden">
      <iframe 
        src="{{ section.settings.video }}?autoplay=0&loop=0&controls=1&modestbranding=1&rel=0&showinfo=0"
        style="position:absolute;top:0;left:0;width:100%;height:100%"
        frameborder="0"
        allow="autoplay; encrypted-media; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Harry Embed",
  "tag": "section",
  "settings": [
    {
      "type": "video_url",
      "id": "video",
      "label": "YouTube or Vimeo URL",
      "accept": ["youtube", "vimeo"]
    }
  ],
  "presets": [
    { "name": "Harry Embed" }
  ]
}
{% endschema %}