<div>
          <div class="padding-section-small">
            <div class="padding-global">
              <div class="container-large">
                <div class="content_grid">
                  <div li-content-for-theme-blocks="" class="content_wrapper-2">
{% content_for 'blocks' %}
</div>
                  <div id="w-node-_1c2acbc7-448b-5b0c-8350-cbc453daa35e-53daa35a" class="content_image-wrapper" style="{% if section.settings.grid_position == 'left' %}order: -1;{% endif %}">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'content_image' }}
{% else %}
<img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="content_image">
{% endif %}</div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Image Text",
    "class": "image-text w-variant-13171d6d-8135-e242-679b-9f0a8d9daa87 section {{ section.settings.color_theme }}",
    "blocks": [
        {
            "type": "headline-small"
        },
        {
            "type": "headline"
        },
        {
            "type": "text"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "grid-position"
        },
        {
            "type": "select",
            "id": "grid_position",
            "label": "Grid position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "header",
            "content": "color_theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Light",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "w-variant-1a01ca47-527f-4739-e0f0-4ec0def33181"
                },
                {
                    "label": "Grey",
                    "value": "w-variant-b5920537-a8f9-ce48-27b6-c28b206a0274"
                },
                {
                    "label": "Blue",
                    "value": "w-variant-2ad76558-34c6-d907-2ac9-bf1e45ee0835"
                },
                {
                    "label": "Light-Green",
                    "value": "w-variant-13171d6d-8135-e242-679b-9f0a8d9daa87"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Text",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "headline-small"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}