<div>
          <div class="padding-global-3">
            <div class="container-large-2">
              <div class="text-align-center">
                <div class="max-width-large align-center">
                  <div class="text-size-small-16">
{{ section.settings.text_title }}
</div>
                </div>
              </div>
            </div>
          </div>
          <div class="_0-5rem-spacer"></div>
          <div class="divider-vertical"></div>
          <div class="_1rem-spacer"></div>
          <div class="section-2 cc-0">
            <div class="container cc-full">
              <div class="seenon2__wrapper">
                <div pb-section="seenon2" class="seenon2__track">
                  {% for block in section.blocks %}
    {% if block.type == "logo" %}
                    <div li-block="Logo" class="seenon2__logo">
                                    <img loading="lazy" src="{{ 'Philips_logo_new.svg' | asset_url }}" alt="" class="seenon2__logo">
                            </div>
            {% endif %}
{% endfor %}
                </div>
                <div class="custom-css w-embed">
                  <style>
[pb-section="seenon2"] {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-horizontal 30s linear infinite;
}
@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70%);
  }
}
@media screen and (max-width:767px) {
[pb-section="seenon2"] {
  animation: marquee-horizontal 20s linear infinite;
}
@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}
}
</style>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Logo Carousel",
    "class": "section_logo3",
    "blocks": [
        {
            "name": "Logo",
            "type": "logo",
            "settings": null
        }
    ],
    "settings": [
        {
            "id": "text_title",
            "type": "text",
            "label": "Title",
            "default": "We Supply Exceptional Leather To"
        }
    ],
    "presets": [
        {
            "name": "Logo Carousel",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "logo"
                }
            ]
        }
    ]
} {% endschema %}