<div class="home-banner_bkg"><img li-object:src="media | image_url: width: 1000" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 1000 }}" loading="lazy" class="image-fill small-4">
          <div class="image-overlay small-5"></div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Navigation Spacer",
    "class": "nav-bg",
    "presets": [
        {
            "name": "Navigation Spacer",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}