<div id="current_sub" class="message-toggler is-active">
          <ul role="list" class="list3_components w-list-unstyled">
            <li class="list2_item">
              <div class="list3_item-wrapper"><img loading="lazy" src="{{ 'checkmark.svg' | asset_url }}" alt="" class="list2_checkmark">
                <div class="text-size-xtiny">Fast, insured courier</div>
              </div>
            </li>
            <li class="list2_item">
              <div class="list3_item-wrapper"><img loading="lazy" src="{{ 'leaf-outlined-natural-shape.svg' | asset_url }}" alt="" class="list2_checkmark">
                <div class="text-size-xtiny">The Worlds Lowest Carbon Leather</div>
              </div>
            </li>
            <li class="list2_item">
              <div class="list3_item-wrapper"><img loading="lazy" src="{{ 'padlock.svg' | asset_url }}" alt="" class="list2_checkmark">
                <div class="text-size-xtiny">Secure Payment With Shopify</div>
              </div>
            </li>
          </ul>
        </div> {% schema %} {
    "tag": "div",
    "name": "Ribbons",
    "class": "div-block-753 is-active",
    "presets": [
        {
            "name": "Ribbons",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}