<div class="padding-global">
          <div class="container-large">
            <div class="card-component">
              <div li-content-for-theme-blocks="" id="w-node-_2514fd8d-59d9-6705-04bd-32f72d633fe2-029cc97b" class="content_wrapper">
{% content_for 'blocks' %}
</div>
              <div id="w-node-e03ea875-f0eb-94c8-60aa-51f1abaffa22-029cc97b" class="card_img-wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card_img' }}
{% else %}
<img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="card_img">
{% endif %}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Test Content 2",
    "class": "section _2rem",
    "blocks": [
        {
            "type": "pre-heading"
        },
        {
            "type": "heading"
        },
        {
            "type": "content"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Test Content 2",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "pre-heading"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "content"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}