<div class="dotted-float">
          <div class="w-embed">
            <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
          </div>
        </div>
        <div data-w-id="0ab63384-a5b9-3973-6c4e-c9125537a3a2" style="opacity:0" class="home-action_descript xl-5">
          <div class="text-h4 w-richtext"> {{ section.settings.richtext_content }} </div>
        </div>
        <div class="dotted-float">
          <div class="w-embed">
            <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Test 3.0",
    "class": "texthero",
    "settings": [
        {
            "id": "richtext_content",
            "type": "richtext",
            "label": "Content",
            "default": "<p>\n            The lowest carbon, high performance natural leather for the toughest passenger environments and the most discerning luxury designers.\n          <\/p>"
        }
    ],
    "presets": [
        {
            "name": "Test 3.0",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}