<div class="padding-global">
          <div class="container-large">
            <div li-content-for-theme-blocks="" id="w-node-a1cc8857-b19f-f780-3944-51668df2661e-029cc97b" class="content_wrapper">
{% content_for 'blocks' %}
</div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Text Block Test",
    "class": "section _2rem",
    "blocks": [
        {
            "type": "pre-heading"
        },
        {
            "type": "heading"
        },
        {
            "type": "content"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Text Block Test",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "pre-heading"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "content"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}