<div class="text-hero text-hero {{ section.settings.color_theme }}">
          <div class="dotted-float">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
          <div li-content-for-blocks="" class="home-action_descript xl-5">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

            {% when 'rich-text' %}
            <div li-block="Rich Text">
                    
              
                    <div class="text-h4 w-richtext"> {{ block.settings.richtext_richtext }} </div>
                    
            
                </div>
            {% when 'buttons' %}
            <div li-block="Buttons" class="content_block">
                    
              
                    <div li-content-for-theme-blocks="" class="button-group-10">
{% content_for 'blocks' %}
</div>
                    
            
                </div>
          {% endcase %}
{% endfor %}

    </div>
          <div class="dotted-float">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Text Stitching Secti",
    "class": "section rel",
    "blocks": [
        {
            "type": "button"
        },
        {
            "type": "@app"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Colour Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Light",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "w-variant-d9472497-0a55-a96e-6f21-1a76f9556a60"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text Stitching Secti",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "button"
                }
            ]
        }
    ]
} {% endschema %}