<div class="text-hero text-hero {{ section.settings.color_theme }}">
          <div class="dotted-float">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
          <div li-content-for-theme-blocks="" class="home-action_descript xl-5">
{% content_for 'blocks' %}
</div>
          <div class="dotted-float">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Text Stitching Secti",
    "class": "section rel",
    "blocks": [
        {
            "type": "rich-text"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Colour Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Light",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "w-variant-d9472497-0a55-a96e-6f21-1a76f9556a60"
                },
                {
                    "label": "Grey",
                    "value": "w-variant-88c4ef69-e160-fd68-bef8-d6a4e2d6340b"
                },
                {
                    "label": "Blue",
                    "value": "w-variant-a1ac5c22-036a-8f87-8fa5-ff3e57e53bac"
                },
                {
                    "label": "Light Green",
                    "value": "w-variant-8b966e07-c969-d69f-ecec-8e0ea2a05fb9"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text Stitching Secti",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "rich-text"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}