<div class="text-large w-variant-bf4e2892-99d3-a6e6-f213-5703e0a20471 text-large {{ section.settings.color_theme }}">
          <div class="padding-section-medium">
            <div class="padding-global">
              <div class="container-small">
                <div li-content-for-theme-blocks="" class="text-align-center _2rem-spacing">
{% content_for 'blocks' %}
</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Text Centralised",
    "class": "section w-variant-bf4e2892-99d3-a6e6-f213-5703e0a20471",
    "blocks": [
        {
            "type": "heading"
        },
        {
            "type": "text"
        },
        {
            "type": "buttons"
        },
        {
            "type": "image"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Colour Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Light",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "w-variant-bf4e2892-99d3-a6e6-f213-5703e0a20471"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text Centralised",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
} {% endschema %}