<div class="text-hero text-hero {{ section.settings.color_theme }}">
          <div class="dotted-float">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
          <div li-content-for-theme-blocks="" class="home-action_descript xl-5">
{% content_for 'blocks' %}
</div>
          <div class="dotted-float">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Text Stitching Secti",
    "class": "section rel",
    "blocks": [
        {
            "type": "rich-text"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Colour Theme"
        }
    ],
    "presets": [
        {
            "name": "Text Stitching Secti",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "rich-text"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}