<div class="text-large w-variant-542a8a35-b09d-7af3-26dd-2d570b8f8caa text-large {{ section.settings.color_theme }}">
          <div class="padding-section-medium">
            <div class="padding-global">
              <div class="container-small">
                <div li-content-for-theme-blocks="" class="text-align-center _2rem-spacing">
{% content_for 'blocks' %}
</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Text Centralised",
    "class": "section w-variant-542a8a35-b09d-7af3-26dd-2d570b8f8caa",
    "blocks": [
        {
            "type": "heading"
        },
        {
            "type": "text"
        },
        {
            "type": "buttons"
        },
        {
            "type": "image"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Colour Theme"
        }
    ],
    "presets": [
        {
            "name": "Text Centralised",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
} {% endschema %}