<div class="container-large">
          <div class="_2rem-spacer"></div>
          <div id="video-wrapper" data-w-id="2aacdcf8-86a9-56ea-5c29-a8a6ce5fb2f4" class="video-wrapper">
            <div class="autoplay-code w-embed w-script">
              <script>
// this script will autoplay video on click to avoid two clicks
document.addEventListener("DOMContentLoaded", function () {
  const VIDEO_WRAPPER = document.getElementById("video-wrapper"); 
  const VIDEO_EMBED = document.getElementById("video-embed");
  VIDEO_WRAPPER.addEventListener("click", () => {
    const IFRAME = VIDEO_EMBED.getElementsByTagName("iframe")[0];
    const VIDEO_SOURCE = IFRAME.src;
    if (VIDEO_SOURCE.includes("autoplay=0")) {
      IFRAME.src = VIDEO_SOURCE.replace("autoplay=0", "autoplay=1");
    } else {
      IFRAME.src = VIDEO_SOURCE + "&autoplay=1";
    }
  });
});
</script>
            </div>
            <div class="autoplay-code w-embed">
              <style>
.icon {
  filter: none !important;
}
</style>
            </div>
            <div title="Play Video" class="video-thumbnail">{% if section.settings.image_thumbnail %}
{{ section.settings.image_thumbnail | image_url: width: 1000 | image_tag: class: 'thumbnail', alt: 'Triangle behind a mountain range made with structural grid like texture', sizes: '(max-width: 1279px) 100vw, 1280px', loading: 'lazy' }}
{% else %}
<img class="thumbnail" src="{{ 'GNYYghYJ-14-HD_1GNYYghYJ-14-HD.avif' | asset_url }}" alt="Triangle behind a mountain range made with structural grid like texture" sizes="(max-width: 1279px) 100vw, 1280px" loading="lazy" srcset="{{ 'GNYYghYJ-14-HD_1GNYYghYJ-14-HD.avif' | asset_url }} 500w, {{ 'GNYYghYJ-14-HD_1GNYYghYJ-14-HD.avif' | asset_url }} 1280w">
{% endif %}
              <div class="play-icon-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
                  <path class="stroke-solid" fill="none" stroke="currentColor" d="M49.9 2.5C23.6 2.8 2.1 24.4 2.5 50.4 2.9 76.5 24.7 98 50.3 97.5c26.4-.6 47.4-21.8 47.2-47.7-.2-26.1-21.8-47.5-47.6-47.3"></path>
                  <path class="stroke-dotted" fill="none" stroke="currentColor" d="M49.9 2.5C23.6 2.8 2.1 24.4 2.5 50.4 2.9 76.5 24.7 98 50.3 97.5c26.4-.6 47.4-21.8 47.2-47.7-.2-26.1-21.8-47.5-47.6-47.3"></path>
                  <path class="icon" fill="currentColor" d="M38 69c-1 .5-1.8 0-1.8-1.1V32.1c0-1.1.8-1.6 1.8-1.1l34 18c1 .5 1 1.4 0 1.9L38 69z"></path>
                </svg>
                <style>
.stroke-dotted {
    opacity: 0;
    stroke-dasharray: 1,3.14;
    stroke-width: .0625rem;
    transform-origin: 50% 50%;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    transition: opacity 1s ease, stroke-width 1s ease
}
.stroke-solid {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: .1875rem;
    transition: stroke-dashoffset 1s ease, opacity 1s ease
}
.icon {
    transform-origin: 50% 50%;
    transition: transform .3s ease-out
}
.video-thumbnail:hover .stroke-dotted {
    stroke-width: .25rem;
    opacity: 1
}
.video-thumbnail:hover .stroke-solid {
    opacity: 0;
    stroke-dashoffset: 300
}
.video-thumbnail:hover .icon {
    transform: scale(1.1)
}
.video-thumbnail:hover .thumbnail {
    opacity: .7;
    transform: scale(1.1)
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
</style>
              </div>
            </div>
            <div id="video-embed" style="padding-top:56.17021276595745%" class="w-embed-youtubevideo video-embed"><iframe src="https://www.youtube-nocookie.com/embed/GNYYghYJ-14?rel=0&controls=1&autoplay=0&mute=0&start=0" frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto" allow="autoplay; encrypted-media" allowfullscreen="" title=""></iframe></div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Video Hero",
    "class": "section video",
    "settings": [
        {
            "id": "image_thumbnail",
            "type": "image_picker",
            "label": "Thumbnail"
        }
    ],
    "presets": [
        {
            "name": "Video Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}