<div class="padding-section-small">
          <div class="padding-global">
            <div class="container-large">
              <div class="video_wrapper" style="aspect-ratio: {{ section.settings.video.aspect_ratio }}">
                <div li-object="{{ section.settings.video | external_video_url | external_video_tag }}" class="video_video">{{ {{ section.settings.video | external_video_url | external_video_tag }} }}</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Video Embed",
    "class": "section_video",
    "settings": [
        {
            "type": "video_url",
            "id": "video",
            "label": "Video",
            "accept": [
                "youtube",
                "vimeo"
            ]
        }
    ],
    "presets": [
        {
            "name": "Video Embed",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}